RewriteEngine On

# Handle PHP files
<FilesMatch "\.php$">
    SetHandler application/x-httpd-php
</FilesMatch>

# Allow all methods for PHP files
<Files "*.php">
    Order Allow,Deny
    Allow from all
    
    <LimitExcept GET POST PUT DELETE>
        Order Allow,Deny
        Deny from all
    </LimitExcept>
</Files>

# Redirect all requests to index.html except for PHP files and assets
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !\.php$
RewriteCond %{REQUEST_URI} !^/assets/
RewriteRule ^(.*)$ /index.html [L] 